.container {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  position: static;
  overflow-x: auto;
  overflow-y: auto;
  font-family: Open Sans;
  background-color: #fcfcfc;
}
.navlink {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}
